<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page_title }}</title>
		<link rel="stylesheet" href="{{ static_url("css/markdown.css") }}" />
        {% block other_head_part %}{% end %}
	</head>
	<body>
		<div id="container">
            {% block header %}
                <h1><a href="/">{{ blogInfo['title'] }}</a> </h1>
            {% end %}
			<div id="main">
				<div id="content">
					{% block body %}{% end %}
				</div>
			</div>
			<footer>
				{% block footer %}{% end %}
			</footer>
		</div>

	</body>
</html>
